<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rssCloud: Log</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>rssCloud: Log</h1>
        <p>The last {{prefs.maxEvents}} events today for the rssCloud server.</p>
    </div>

    {{#if eventlog}}
    <table class="table table-striped">
    <tr>
        <th>Event</th>
        <th>What Happened</th>
        <th>When</th>
        <th>Seconds</th>
    </tr>
    {{#each eventlog}}
    <tr>
        <td>{{eventtype}}</td>
        <td>{{{htmltext}}}{{#if headers}} <i class="fa fa-info-circle btn btn-default btn-xs" data-toggle="modal" data-target="#headers{{@index}}"></i>{{/if}}</td>
        <td>{{formatDate time "h:mmA"}}</td>
        <td>{{secs}}</td>
    </tr>
    {{/each}}
    </table>
    {{/if}}
</div>
{{#if eventlog}}
{{#each eventlog}}
<div class="modal" id="headers{{@index}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul>
                    {{#each headers}}
                    <li><strong>{{@key}}:</strong> {{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
</body>
</html>
