<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rssCloud: Log</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>rssCloud: Log</h1>
        <p>The last {{prefs.maxEvents}} events today for the rssCloud server.</p>
    </div>

    {{#if eventlog}}
    <table class="table table-striped">
    <tr>
        <th>Event</th>
        <th>What Happened</th>
        <th>When</th>
        <th>Seconds</th>
    </tr>
    {{#each eventlog}}
    <tr>
        <td>{{eventtype}}</td>
        <td>{{{htmltext}}}</td>
        <td>{{formatDate time "h:mmA"}}</td>
        <td>{{secs}}</td>
    </tr>
    {{/each}}
    </table>
    {{/if}}
</div>
</body>
</html>
