<tr>
    <td>{{eventtype}}</td>
    <td>{{{htmltext}}}{{#if headers}} <i class="fa fa-info-circle btn btn-default btn-xs" data-toggle="modal" data-target="#headers{{id}}"></i>{{/if}}</td>
    <td class="date">{{time}}</td>
    <td>{{secs}}</td>
</tr>
